
body{
	background-color:rgb(204, 204, 204);
}
.player_one{
	background-color:rgb(255, 255, 255);
	
}
a{
	text-decoration:none;
	color:black;
}
li{
	list-style-type:none;
}
.player_two{
	background-color:rgb(255, 255, 255);
}
main{
	background-color:#cccccc;
	
	text-align:center;
}